body {
    background-image: radial-gradient(#333, #111);
    background-color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #999;
    padding: 2em;
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

a {
    color: #08d;
}

nav {
    display: flex;
}