:root {
    --primary: #08d;
    --text: #bbb;
    --text-muted: #999;
    --bg-dark: #111;
    --bg-light: #333;
}

body {
    background-image: radial-gradient(var(--bg-light), var(--bg-dark));
    background-color: var(--bg-dark);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-muted);
    padding: 2em;
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-size: 20px;
    overflow: hidden;
}

a {
    color: var(--primary);
}

nav {
    display: flex;
}

button {
    border: 1px solid #ddd;
    background-color: rgba(0,0,0,0);
    color: var(--text);
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: inherit;
}

button:not(.disabled):hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

button.disabled {
    color: var(--bg-light) !important;
    border-color: var(--bg-light) !important;
}