#global {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3em); /* Body padding + Nav height (approx) */
}

#search-wrapper {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--bg-light);
}

#search-container,
#tags-container {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.tag {
    font-size: 0.6em;
}

.tag.selected {
    background-color: var(--text);
    color: var(--bg-light);
}

.tag.selected:hover{
    background-color: var(--text-muted) !important;
    color: var(--bg-dark);
}

#search-input {
    flex: 1;
}

input {
    border: 1px solid #ddd;
    background-color: rgba(0,0,0,0);
    color: var(--text);
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: inherit;
}

input:hover {
    cursor: text;
    background-color: rgba(255, 255, 255, 0.1);
}

input:focus {
    background-color: rgba(0,0,0,0);
    outline: 1px solid #ddd;
}

/* RESULTS */

#results-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0em 3em 0em;
    overflow-y: scroll;
    flex: 1;
    -webkit-mask-image: linear-gradient(transparent, black 5%, black 80%, transparent 100%);
}

.fact-wrapper {
    border-left: 0.2em solid var(--bg-light);
    padding-left: 1em;
}

.fact {
    color: var(--text);
    font-size: 1.5em;
    font-weight: 600;
}

.fact-details {
    font-size: 0.8em;
    color: var(--text-muted);
    display: flex;
    gap: 1em;
}